//- Meta
title=metaTitle
meta(name="description", content=metaDescription)
meta(name="classification", content=metaClassification)
meta(name="keywords", content=metaKeywords)
meta(name="distribution", content="global")
meta(name="robots", content="index, follow")
//- Facebook
meta(property="og:type", content="website")
meta(property="og:title", content=metaOGTitle)
meta(property="og:site_name", content=metaOGSiteName)
meta(property="og:url", content="")
meta(property="og:image", content=metaOGImage)
//- Twitter
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content=metaTwitterUser)
meta(name="twitter:title", content=metaTwitterTitle)
meta(name="twitter:description", content=metaTwitterDescription)
